management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,gateway
  endpoint:
    health:
      probes:
        enabled: true  

logging:
  level:
    root: INFO

server:
  shutdown: graceful
